<div class="mainDiv">
  <div class="varBarr d-flex mt-3 container justify-content-between">
    <div class="logoDiv">
      <img src="logo.png" alt="logo" class="logo ms-4">
    </div>
    <div class="navButtonDiv mt-4">
      <button type="button" class="btn btn-outline-primary ms-3 navbutton" routerLink="">Home</button>
      <button type="button" class="btn btn-outline-primary ms-3 navbutton" routerLink="details">Details</button>
      <button type="button" class="btn btn-outline-primary ms-3 navbutton" routerLink="contact">Contact</button>
    </div>
  </div>
</div>