<div class="homeDiscription mt-3 ">
    <div class="heading">
        <h3><u>Forensic Science</u></h3>
    </div>
    <div class="discription">
        <p>Our forensic department website is a secure and efficient platform designed to manage and store 
            crucial forensic data. It maintains detailed records of individuals connected with forensic cases, 
            including personal information such as names, addresses, and blood groups. This system aids 
            forensic professionals in tracking case-related individuals, ensuring accurate documentation for 
            legal and investigative purposes.
            <br>
            With a strong focus on security and confidentiality, the platform streamlines data management for 
            forensic teams, helping them access, analyze, and manage case-related information efficiently. 
            By integrating advanced search and categorization features, the website ensures quick retrieval of 
            essential details, supporting forensic investigations and legal proceedings.</p>
    </div>
</div>